.xx{
    position:relative;
    width: 40vh;
    height: 10vh;
    left: 80%;
    cursor:  pointer;
    top: 0vh;
}
    .x{
    position:relative;
    width: 40vh;
    height: 10vh;
    left: 80%;
    cursor:  pointer;
    top: 0vh;
}